<!DOCTYPE html>
<html>
    <head>
    <title>404</title>
    <meta charset="utf-8">
    <% include partials/page/head.ejs %>
  </head>

<body>
  <div class="container 404-container">
  <h1>404 - Redirect</h1>
</div>

</body>
</html>
