<!DOCTYPE html>
<html>
  <head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <% include partials/page/head.ejs %>
  </head>

<body>
  <div class="menu-open-button">
    <i class="fa fa-circle-o"></i>
  </div>

  <% include partials/page/menu.ejs %>

  <div class="container">
</div>
  <% include partials/page/searchbar.ejs %>
  <div class="container">
  <p class="information-text">Search for torrents faster than ever. <a href="#" class="learn-how">Learn how.</a></p>
</div>
  <% include partials/page/scripts.ejs %>
</body>
</html>
