<!DOCTYPE html>
  <html>
  <head>
    <% include partials/page/head.ejs %>
  </head>

  <body>
    <header>
    <% include partials/page/searchbar.ejs %>

    <div class="menu-open-button">
      <i class="fa fa-bars"></i>
    </div>
  </header>

    <% include partials/page/menu.ejs %>
    
    <% include partials/page/scripts.ejs %>
  </body>
</html>
