<!DOCTYPE html>
  <html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <% include partials/page/head.ejs %>
  </head>

  <body>
    <% include partials/page/searchbar.ejs %>
  </body>
</html>
