<div class="menu-container">
  <i class="fa fa-times menu-close-button"></i>
  <div class="menu-wrapper">
  <ul>
    <li><h4>Content</li>
    <li><a href="#" class="browse">Browse</a></li>
    <li><a href="#" class="recents">Recents</a></li>
    <li><a href="#" class="applications">Applications</a></li>
    <li><a href="#" class="top">Top Torrents</a></li>
  </ul>
  <ul class="special">
    <li><h4>Partials</h4></li>
    <li><a href="#" class="about">About</a></li>
    <li><a href="#" class="torrents">Blog</a></li>
    <li><a href="#" class="info">Information</a></li>
  </ul>
</div>
</div>
