<div class="search">
  <div class="input-wrapper">
    <form action="" autocomplete="off">
    <input class="ghostbar" value="" type="search" name="search">
  </div>
<!--  Uncomment if you want the mode-search function again.
<div class="mode-search">
    <p class="mode-search-btn"></p>
  </div>
-->
  <div class="search-icon" data-action="search">
    <i class="fa fa-search"></i>
  </div>
</form>
</div>

<!-- End of searchbar -->
